table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #868484;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #583239;
    color: #c4c2c2;
  }
  .admin{
    margin: 2%;
  }
  .smallTable {
    background-color: #af858c;
    color: #080404;
  }

  .row_Table {
    background-color: #af858c ;
    color: #080404;
    text-align: center;
  }

  .admin_text{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top:2%;
  }