.topnav {
  background-color: #061E43;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #fdca58;
  color: #061E43;
}

.topnav a.active {
  background-color: #2E4477;
  color: white;
}
.topnav .nav-item {
  /* Stilovi koje trenutno koristite za Link elemente, npr: */
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
  /* ... */
}

.site-footer {
  background-color: #2E4477;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.col-md-8 {
  width: 66.66667%;
}

.col-sm-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
}

.jumbotron {
  background-color: #59659C;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}
.banner-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #061E43;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.8); /* lightgray sa 80% providnosti */
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

section {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}


.login-form-container {
  max-width: 600px;
  height: 390px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 5%;
  margin-top: 5%;

  background-color: #fdca58;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #59659C;
  border-radius: 0.25rem;
}

.login-form button {
  margin-top: 3rem;
  padding: 0.5rem;
  background-color: #2E4477;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #59659C;
}


.registration-form-container {
  max-width: 600px;
  height: 460px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fdca58;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.registration-form input {
  padding: 0.5rem;
  border: 1px solid #59659C;
  border-radius: 0.25rem;
}

.registration-form button {
  margin-top: 3rem;
  padding: 0.5rem;
  background-color: #2E4477;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #59659c;
}

.contact-page-container {
  background-color: #fff;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}


.contact-info {
  flex: 1; /* Da se prilagodi raspoloživom prostoru */
  margin-right: 20px; /* Da ostavi razmak između elemenata */
}

.map-container {
  margin-top: 2rem;
  height: 400px; 
  width: 100%; 
  margin-left: 1rem;
  flex:1;
}

iframe {
  border: none;
}


.product-card {
  background-color: #9ba4cb;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 230px;
  height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-category {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 4px;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-card img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-card .product-info {
  display: flex;
  flex-direction: column;
}

/* Dodajte boje za kategorije */
.category1 {
  background-color: #ef99d4;
}

.category2 {
  background-color: #115a51;
}
.category3 {
  background-color: #8d0c79;
}.category4 {
  background-color: #b2e467;
}.category5 {
  background-color: #e9b86e;
}.category6 {
  background-color: #f27654;
}
.default {
  background-color: #f8f9fa;
}

.button-product {
  background-color: #fdca58;
  border: 1px solid #ccc;
  color: #333;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 48%;
}

.button-product:hover {
  background-color: #e6e6e6;
}

.tabelaProducts{
  margin: 10%;
}

.content{
  margin-top: 200px;
}
.content-bootom{
  margin-top: 50px;
  margin-bottom: 200px;
}

.content-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.h1{
  color: #583239;
}
.h2{
  color: #fb8842;
}
.h3{
  color: #061e43;
}