.topnav {
  background-color: #061E43;
  overflow: hidden;
}

.topnav a {
  font-family: 'Courier New', Courier, monospace;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #fdca58;
  color: #061E43;
}

.topnav a.active {
  background-color: #2E4477;
  color: white;
}
.topnav .nav-item {
  /* Stilovi koje trenutno koristite za Link elemente, npr: */
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
  /* ... */
}

.site-footer {
  background-color: #2E4477;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.col-md-8 {
  width: 66.66667%;
}

.col-sm-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}




.container {
  max-width: 200px;
  margin:10px;
}

.jumbotron {
  background-color: #59659C;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}
.banner-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}

.overlay-text {
  font-family: 'Lucida Console';
  position: absolute;
  top: 20%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #010305;
  text-align: left;
  text-shadow: 10px 4px 2px rgb(206, 203, 203);
  /*background-color: rgba(154, 177, 226, 0.35); /* lightgray sa 80% providnosti */
}
.content {
  display: flex;
  /*flex-wrap: wrap;*/
  gap: 5rem;
  max-width: 100%;
  height: auto;
  /*display: block;*/
  margin-left:0px;
  margin-right:0px;
  position: static;
  
}

.compText{
  font-family: 'Courier New', Courier, monospace;
  color: #888787;
}

.justifyText{
  text-Align: 'justify';
}

section {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}


.login-form-container {
 
  max-width: 600px;
  height: 390px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(201, 199, 199, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 5%;
  margin-top: 5%;
  color: #a3a2a2;
  background-color: #583239;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #583239;
}
.back{
  background-color: #e6e7f0;
}

.login-form label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #583239;
  border-radius: 0.25rem;
}

.login-form button {
  margin-top: 3rem;
  padding: 0.5rem;
  background-color: #e9ebee;
  color:#583239;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #583239;
}


.registration-form-container {
  color: #a3a2a2;
  background-color: #583239;
  max-width: 600px;
  height: 460px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  
}

.registration-form {
  display: flex;
  flex-direction: column;
  background-color: #583239;
}

.registration-form label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.registration-form input {
  padding: 0.5rem;
  border: 1px solid #583239;
  border-radius: 0.25rem;
}

.registration-form button {
  margin-top: 3rem;
  padding: 0.5rem;
  background-color: #e9ebee;
  color: #583239;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #583239;
}

.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #ffffff;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  /*justify-content: space-between; 
  align-items: flex-start; */
}


.contact-info {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 24px;
  flex: 1; /* Da se prilagodi raspoloživom prostoru */
  /*margin-right: 100px;  Da ostavi razmak između elemenata */
}

.map-container {
  margin-top: 2rem;
  height: 400px; 
  width: 1000px; 
  margin-left: 1rem;
  flex:1;
}

iframe {
  border: none;
}


.product-card {
  background-color: #cccbcb;
  border: 0px solid #ccc;
  border-radius: 70px;
  width: 230px;
  height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-category {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 4px;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-card img {
  width: 170px;
  height: 177px;
  object-fit: cover;
  border-radius: 50rem;
}

.product-card .product-info {
  display: flex;
  /*text-align: center;*/
  flex-direction: column;
}

/* Dodajte boje za kategorije */
.category1 {
  background-color: #583239;
  color:#ccc9c9
}

.category2 {
  background-color: #583239;
  color:#ccc9c9
}

.category3 {
  background-color: #583239;
  color:#ccc9c9
}.category4 {
  background-color: #583239;
  color:#ccc9c9
}.category5 {
  background-color: #583239;
  color:#ccc9c9
}.category6 {
  background-color: #583239;
  color:#ccc9c9
}
.default {
  background-color: #583239;
  color:#ccc9c9
}

.button-product {
  background-color: #f18585;
  border: 1px solid #ccc;
  color: #1a0a0a;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 48%;
}

.button-product:hover {
  background-color: #e6e6e6;
}

.tabelaProducts{
  margin: 10%;
  background-color: #8b9fad;
}

.content{
  margin-top: 250px;
}
.content-bootom{
  margin-top: 100px;
  margin-bottom: 500px;
}

.content-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: -10px;
  margin-top: -39px;
}

.reg{
  margin-top: 25px;
  
}
.h1{
  color: #583239;
}
.h2{
  color: #835539;
}
.h3{
  color: #061e43;
}

/* Center-align the text */
.center-align {
  text-align: center;
}

/* Left-align the text */
.left-align {
  text-align: left;
}

/* Right-align the text */
.right-align {
  text-align: right;
}

/* Justify the text */
.justify-align {
  text-align: justify;
}

.aboutUs {
  padding: 20px;
  margin-top: 8px;
  background-color: #583239;
  color: #c2b1b1;
  font-size: 18px;

}

.smallCom {
  background-color: #583239;
  color: #c2b1b1;
  padding: 20px;
  
   
}

.margin-left{
  margin-left:2%;
}


.headline_text{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top:1%;
}