.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin: 2rem 0;
  }
  
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Podešava dve kolone */
    grid-gap: 10px; /* Razmak između elemenata */
    align-items: center;
    justify-content: space-between;
    background-color: #583239; /* Autentična boja pozadine */
    padding: 10px 20px;
    width: 100%; /* Zauzima trećinu ekrana */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(109, 16, 16, 0.1);
  }
  
  .filters select{
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #e7e7e7;
    font-size: 14px;
    outline: none;
    width: 1000px;
  }
  .filters input {
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #e7e7e7;
    font-size: 14px;
    outline: none;
    width: 100%;
  }
  
  .filters select {
    width: 40%; /* Prilagodite širinu prema potrebama */
  }
  
  /* Stilizacija opcija u selektu */
  .filters select option {
    background-color: #937379;
    color: #fff;
  }
  
  /* Stilizacija placeholder teksta u input polju */
  .filters input::placeholder {
    color: rgb(166, 129, 129)379;
  }
  